@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,700;1,700&display=swap');

:root {
    --primary-color: #4CAF50;
    --primary-color-dark: #125815;
    --primary-color-light: #a8e6ab;
    --secondary-color: #ff6708;
    --text-color: #333333;
    --text-light: #767268;
    --white: #ffffff;
    --max-width: 1200px;
    --font-family: 'Roboto', sans-serif;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.section_container {
    max-width: var(--max-width);
    margin: 0 auto;
    padding: 20px;
}

.section_header {
    margin-bottom: 20px;
    font-size: 15px;
    font-weight: 600;
    color: var(--text-color);
}


.btn {
    padding: 16px 32px;
    outline: none;
    border: none;
    font-size: 16px;
    white-space: nowrap;
    color: var(--white);
    background-color: var(--secondary-color);
    border-radius: 4px;
    cursor: pointer;
    margin-left: 1000px;
    margin-bottom: 70px;
}

img {
    width: 100%;
    display: flex;
}

a {
    text-decoration: none;
    color: var(--text-color);
}
body {
    font-family: 'Roboto', sans-serif;
}

header {
    background-image: linear-gradient(
        to rIGHT,
        rgba(18, 172, 142, 0.9),
        rgba(18, 172, 142, 0.7)
    ),
    url(background.jpg);
    background-position: center center;
    background-size: Center;
    background-repeat: no-repeat;
    min-height: 300px;
}

nav_container {
    display: flex;
.nav_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 32px 16px;
}
}
.nav_logo img {
    content: url('Your paragraph text.png');
}

.nav_links {
    display: flex;
    gap: 32px;
    list-style: none;
    align-items: center;
    justify-content: center;
}

.nav_links li a {
    color: var(--primary-color-light);
    font-size: 16px;
    font-weight: 500;
    transition: color 0.3s ease;
}
.nav_links li a:hover {
    color: var(--secondary-color);
}